/* admin/admin.css */

/* new post view */
.new-post-container {
    margin-top: 60px;
}

.new-post-header-container {
    background-color: #818081;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    color: white;
}

.new-post-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 30px;
}

.post-input[name="content"] {
    min-height: 300px; 
}

.post-buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.post-submit,
.post-draft {
    flex: 1; /* each button takes up equal space */
}

/* edit button */

/* delete button */