/* admin/admin.css */

/* new post view */
.new-post-container {
    margin-top: 60px;
}

.new-post-header-container {
    background-color: #818081;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 10px;
    color: white;
}

/* edit button */

/* delete button */